rect:hover {
  fill-opacity: 1;
}
.axis {
  font-size: smaller;
}

body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #222;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.country {
  fill: grey;
}

.map {
  width: 98%;
  height: 100vh;
}

.filter-container {
  width: 23%;
  float: left;
}

.bar-chart, .bar-chart-no-data {
  width: 75%;
  float: right;
}

.footer {
  padding: 1em;
}

.filter {
  margin-bottom: 2em;
}

#title {
  position: absolute;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}